{% extends 'index.html' %}

{% from 'macros.html' import render_field %}

{% block content %}
<div class="container">
    <div class="edit-entry">
        <h2>Login</h2>
        <form method="POST" action="" class="form">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {{ render_field(field) }}
            {% endfor %}
            <input type="submit" value="Login" class="button">
            <a href="{{ url_for('index') }}" class="button button-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}